.chat-main
  .top-header
    .top-header_side_box 
      sample
      %ul
      %li< Menber : murai
    .top-header_side_menu
      = link_to 'Edit','/groups/:id/edit'
      -# = link_to 'Edit',edit_group_path
      -# (group)
      -# Edit
  .messages
    .message_seo
      
    .message_neko
    
  .form
    .input_box
      %input.input_box__text{placeholder: "type a message"}
      .input_box__image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input.hidden{type: "file"}

      .submit_btn
        %input.submit_btn__send{type: "submit", value: "Send"} 
      
  
