.chat-main
  .top-header
    .top-header_side_box
      sample
      %ul
      %li< Menber : murai
    .top-header_side_menu
      Edit
  .messages
    .message_seo
      seo
    .message_neko
      neko
  .form
    .input_box
      %input.input_box__text{placeholder: "type a message"}
      .input_box__image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input.hidden{type: "file"}

      .submit_btn
        %input.submit_btn__send{type: "submit", value: "Send"} 
      
  
